@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    font-display: optional;
    src: local(''), url('/fonts/Inter/inter-var-latin.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212,
        U+2215, U+FEFF, U+FFFD;
}

@font-face {
    font-family: 'Yekan';
    src: local(''), url('/fonts/Yekan/Yekan.woff') format('woff');
}

::selection {
    background-color: #9d00ff;
    color: #fefefe;
}

html {
    min-width: 360px;
    scroll-behavior: smooth;
}

#__next {
    @apply bg-[#f2f2f2] dark:bg-[#0c0c0c];
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* https://seek-oss.github.io/capsize/ */
.capsize::before {
    content: '';
    margin-bottom: -0.098em;
    display: table;
}

.capsize::after {
    content: '';
    margin-top: -0.219em;
    display: table;
}

.skip-nav {
    @apply absolute -left-1/4 -top-8 -translate-y-12 transform px-4 py-3 transition-transform duration-200 focus:top-4 focus:translate-y-3;
}

#skip {
    scroll-margin-top: 1.125rem;
}

@supports not (backdrop-filter: none) {
    .sticky-nav {
        backdrop-filter: none;
        @apply bg-opacity-100;
    }
}

code[class*='language-'],
pre[class*='language-'] {
    @apply text-gray-800 dark:text-gray-50;
}

pre::-webkit-scrollbar {
    display: none;
}

pre {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

.highlight-line {
    @apply -mx-4 block border-l-4 border-blue-500 bg-gray-100 px-4 dark:bg-gray-800;
}

/* Remove Safari input shadow on mobile */
input[type='text'],
input[type='email'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.metric-card > a {
    @apply no-underline;
}

.metric-card > p {
    @apply my-2;
}

.step > h3 {
    @apply my-0;
}

table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
}
